*{
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #14151a;
    color: aliceblue;
    display: flex;
    justify-content: center;
    min-height: 90vh;
}
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .stars:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Img/ses.png');
    animation: animateStars 100s linear infinite;
    -webkit-animation: animateStars 100s linear infinite;
  }
  
  @keyframes animateStars {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -5000px -5000px;
    }
  }


.container{
    width: 80%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
  }

.box{
    position: relative;
    width: 100%;
    height: 450px;
    background: #0c0e14;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#f58b21,#f58b21,#f58b21);
    z-index: 1;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
    animation-delay: -3s;
    transform-origin: bottom right;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 450px;
    background: linear-gradient(0deg,transparent,transparent,#f58b21,#f58b21,#f58b21);
    z-index: 1;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
    transform-origin: bottom right;
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 450px;
    background: linear-gradient(0deg,transparent,transparent,#b60101,#b60101,#b60101);
    z-index: 1;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
    animation-delay: -1.5s;
    transform-origin: bottom right;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 450px;
    background: linear-gradient(0deg,transparent,transparent,#b60101,#b60101,#b60101);
    z-index: 1;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
    animation-delay: -4.5s;
    transform-origin: bottom right;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100%{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.box form{
    position: absolute;
    inset:4px;
    background: #14151a;
    padding: 40px 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 35px;
}

.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: aliceblue;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color: aliceblue;
    font-size: 0.75em;
    transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -o-transform: translateY(-34px);
}

.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: aliceblue;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    pointer-events: none;
}

.box form .links{
    display: flex;
    justify-content: space-between;
}

.box form .links a{
    margin: 12px 0;
    padding-top: 10px;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .links a:hover{
    color: aliceblue;
}

.box form input[type="submit"]{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid aliceblue;
    box-shadow: 2px 2px 10px aliceblue;
    color: aliceblue;
    background-color: #14151a;
    margin-top: 10px;
}

.box form input[type="submit"]:hover{
    background-color: #000000;
}

.box form input[type="submit"]:active{
    opacity: 0.8;
}


@media (min-width:768px) {

    .box{
        position: relative;
        margin-left: 30%;
        width: 40%;
        height: 450px;
        background: #0c0e14;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        overflow: hidden;
    }
    
}